<%- include('./partials/head', {head:'', title:"RedPers"}); -%>

</head>


<body>

<%- include('./partials/header',{header:'',img_src:"" }); -%>


<main>
    <section id="cat-highlight">
        <% posts.slice(0, 5).forEach(post => { %>
            <article class="highlighted-post" style="view-transition-name: hero">
                <a href="/detail/<%-post.id%>" class="post-link">
                    <div class="post-image" style="background-image: url('<%= post.jetpack_featured_media_url %>');">
                        <h2 class="post-title"><%- post.title.rendered %></h2>
                        <div class="post-meta">
                            <span><%= post.date_gmt %> - <%= post.yoast_head_json.author %></span>
                            <span><%= post.readingTime %></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </a>
            </article>
        <% }) %>
    </section>
    <% categories.forEach(category => { %>
        <a class="category-banner" href="/category/<%-category.slug%>">
            <div><%-category.name%></div> 
            <div class="category-readmore">
                Meer <%-category.name%>
                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="512" viewBox="0 0 24 24" width="512"><path d="m12 2.25c-5.376 0-9.75 4.374-9.75 9.75s4.374 9.75 9.75 9.75 9.75-4.374 9.75-9.75-4.374-9.75-9.75-9.75zm0 18c-4.549 0-8.25-3.701-8.25-8.25s3.701-8.25 8.25-8.25 8.25 3.701 8.25 8.25-3.701 8.25-8.25 8.25zm2.53-8.781c.293.293.293.768 0 1.061l-3 3c-.146.146-.338.22-.53.22s-.384-.073-.53-.22c-.293-.293-.293-.768 0-1.061l2.47-2.47-2.47-2.46995c-.293-.293-.293-.76803 0-1.06103s.768-.293 1.061 0z" fill="rgb(255,255,255)"></path></svg>
            </div>
        </a>
        <section class="carousel">
            <ul>
                <% const categoryPosts = posts.filter(post => post.categories.includes(category.id)).slice(0, 5); %>
               <% categoryPosts.forEach(post => { %>
                    <li>
                        <a href="/detail/<%- post.id%>">
                            <img class="post-image" src="<%= post.jetpack_featured_media_url %>" alt="">
                            <h2 class="post-title"><%- post.title.rendered %></h2>
                            <span class="post-meta"><%= post.meta %></span>
                        </a>
                    </li>
                <% }) %>
            </ul>
            <button class="prevBtn" aria-label="Vorige slide" hidden>
                <svg width="64px" height="64px" viewBox="0 0 15 15" fill="#fff" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.14645 9.14645L7.79289 9.5L8.5 10.2071L8.85355 9.85355L8.14645 9.14645ZM10.5 7.5L10.8536 7.85355L11.2071 7.5L10.8536 7.14645L10.5 7.5ZM8.85355 5.14645L8.5 4.79289L7.79289 5.5L8.14645 5.85355L8.85355 5.14645ZM8.85355 9.85355L10.8536 7.85355L10.1464 7.14645L8.14645 9.14645L8.85355 9.85355ZM10.8536 7.14645L8.85355 5.14645L8.14645 5.85355L10.1464 7.85355L10.8536 7.14645ZM10.5 7H4V8H10.5V7Z" fffill="fff"></path> </g></svg>
            </button>
            <button class="nextBtn" aria-label="Volgende slide" hidden>
                <svg width="64px" height="64px" viewBox="0 0 15 15" fill="#fff" xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.14645 9.14645L7.79289 9.5L8.5 10.2071L8.85355 9.85355L8.14645 9.14645ZM10.5 7.5L10.8536 7.85355L11.2071 7.5L10.8536 7.14645L10.5 7.5ZM8.85355 5.14645L8.5 4.79289L7.79289 5.5L8.14645 5.85355L8.85355 5.14645ZM8.85355 9.85355L10.8536 7.85355L10.1464 7.14645L8.14645 9.14645L8.85355 9.85355ZM10.8536 7.14645L8.85355 5.14645L8.14645 5.85355L10.1464 7.85355L10.8536 7.14645ZM10.5 7H4V8H10.5V7Z" fffill="fff"></path> </g></svg>
            </button>
        </section>
    <% }) %>
</main>






<%- include('./partials/foot'); -%>